*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Cairo';
}
header{
    width: 100%;
    height: 11vh;
  
}
.header_div{
    /* width: 1520px; */
    height: 11vh;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'Cairo', sans-serif; 
}
.logo h1{
    font-size: 1.9vw;
    color: rgb(35, 156, 232);
    letter-spacing: 2px;
    margin-left: 70px;
}
.logo h1 span{
    color: red;
}
.container{
    height: 11vh;
    width: 50vw;
    /* border: 2px solid blue; */
    display: flex;
   
    justify-content: center;
    align-items: center;
    gap: 5vw;
}
.search_form{
    height: 6vh;
    width: 320px;
    border: 0.5px solid #ccc1c1 ;
    background-color:#F8F8F8 ;
    border: transparent;
    border-radius: 10px;
    /* color:#ccc1c1 ; */
    padding-left: 2vw;
    font-size: 1vw;
    color: #A8A8A8;
}
.form1{
    position: relative;
}
.icons{
    /* width: 10vw; */
    /* border: 2px solid black; */
    display: flex;

    align-items: center;
    gap: 1.5vw;
  margin-left: 2vw;
}
#search_icon{
   font-size: 1vw;
   color: #906add;
   position: absolute;
   top:12px;
   left: 6px;
}
#question{
    font-size: 1.5vw;
    color: #ccc1c1;
}
#bell{
    font-size: 1.3vw;
    color: rgb(204, 193, 193);
    position: relative;
}
#noti{
    position: absolute;
    top: 3.3vh;
    left: 84.2vw;
}
.notification{
    width: 14px;
    height: 14px;
    /* border: 2px solid blue; */
    border-radius:70%;
    font-size: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 50, 50);
    color: white;
}
.circle_image{
    width: 4.5vw;
    height: 9vh;
    border: 0.3vw solid #906add;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shushat{
    height: 7vh;
    width: 3.5vw;
    border-radius: 50%;
}
#arrow_down{
    font-size: 2.5vw;
    color: #ccc1c1; ;
}
main{
    /* width: 100%; */
    /* font-family: 'Cairo', sans-serif;  */
    /* border: 2px solid black; */
}
.main_container{
    width: 100%;
    /* border: 2px solid yellow; */
    display: flex;
}
a{
    text-decoration-line : none;
}
nav{
    width: 20vw;
    /* height: 2250px; */
    /* border: 2px solid blue; */
    /* align-items: center; */
    display: flex;
    flex-direction:column;
    gap: 0.5vw;
    font-family: 'Cairo', sans-serif; 
}
.menu{
    margin-top: 38px;
    margin-left: 60px;
    font-size: 1vw;
    color: #4b4747;
    cursor:default;
}
.dash_button{
    margin-top: 20px;
    margin-left: 40px;
    width: 17vw;
    padding: 20px 15px;
    background-color: #e1dede;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    cursor: pointer;
}
#window{
    margin-left: 20px;
    font-size: 1.3vw;
    color: #bbb4b4;
}
.dash_para{
    font-size: 1vw;
    color: #bbb4b4;
}
.dash_button2{
    margin-left: 40px;
    width: 17vw;
    padding: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    background-color: none;
    cursor: pointer;
}
#request{
    margin-left: 20px;
    font-size: 1.3vw;
    color: #bbb4b4;
}
.dash_para2{
    font-size: 1vw;
    color: #bbb4b4;
}
.dash_button3{
    margin-left: 40px;
    width: 17vw;
    padding: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    background-color: none;
    cursor: pointer;
}
#budgets{
    margin-left: 20px;
    font-size: 1.3vw;
    color: #bbb4b4;
}
.dash_para3{
    font-size: 1vw;
    color: #bbb4b4;
}
.dash_button3a{
    margin-left: 40px;
    width: 17vw;
    padding: 20px;
    background-color: #e1dede;
    border-radius: 10px;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    background-color: none;
    cursor: pointer;
}
#budgetsa{
    margin-left: 20px;
    font-size: 1.5vw;
    color: #6418C3;
}
.dash_para3a{
    font-size: 1vw;
    color: #6418C3;
}
.dash_button3aa{
    margin-left: 40px;
    width: 17vw;
    padding: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    background-color: none;
    cursor: pointer;
}
#budgetsaa{
    margin-left: 20px;
    font-size: 1.3vw;
    color: #bbb4b4;
}
.dash_para3aa{
    font-size: 1vw;
    color: #bbb4b4;
}
.dash_button3aaa{
    margin-left: 40px;
    width: 17vw;
    padding: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    background-color: none;
    cursor: pointer;
}
#budgetsaaa{
    margin-left: 20px;
    font-size: 1.3vw;
    color: #bbb4b4;
}
.dash_para3aaa{
    font-size: 1vw;
    color: #bbb4b4;
}
.menu2{
    cursor:default;
    margin-top: 20px;
    margin-left: 60px;
    font-size: 1vw;
    color: #4b4747;
}
.dash_button3b{
    margin-left: 40px;
    width: 17vw;
    padding: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    background-color: none;
    cursor: pointer;
}
#budgetsb{
    margin-left: 20px;
    font-size: 1.3vw;
    color: #bbb4b4;
}
.dash_para3b{
    font-size: 1vw;
    color: #bbb4b4;
}
.dash_button3bb{
    margin-left: 40px;
    width: 17vw;
    padding: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    background-color: none;
    cursor: pointer;
}
#budgetsbb{
    margin-left: 20px;
    font-size: 1.3vw;
    color: #bbb4b4;
}
.dash_para3bb{
    font-size: 1vw;
    color: #bbb4b4;
}
.dash_button3bbb{
    margin-left: 40px;
    width: 17vw;
    padding: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    background-color: none;
    cursor: pointer;
}
#budgetsbbb{
    margin-left: 20px;
    font-size: 1.3vw;
    color: #bbb4b4;
}
.dash_para3bbb{
    font-size: 1vw;
    color: #bbb4b4;
}
.dash_button3c{
    margin-left: 40px;
    width: 17vw;
    padding: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    background-color: none;
    cursor: pointer;
}
#budgetsc{
    margin-left: 20px;
    font-size: 1.3vw;
    color: #bbb4b4;
}
.dash_para3c{
    font-size: 1vw;
    color: #bbb4b4;
}

.menu3{
    cursor:default;
    margin-top: 20px;
    margin-left: 60px;
    font-size: 1vw;
    color: #4b4747;
}
.menu4{
    margin-top: 20px;
    margin-left: 60px;
    font-size: 1vw;
    color: #4b4747;
    cursor:default;
}

.dash_button:hover{
    background-color: #ebe7e7;
    border-radius: 10px;
    #window{
    font-size: 1.3vw;
    color: #9f68d2;

    }
.dash_para{
    font-size: 1vw;
    color: #9f68d2;
}
}
.dash_button3:hover{
    background-color: #ebe7e7;
    border-radius: 10px;
    #budgets{
    font-size: 1.3vw;
    color: #9f68d2;
    }
.dash_para3{
    font-size: 1vw;
    color: #9f68d2;
}
}
.dash_button3a:hover{
    background-color: #ebe7e7;
    border-radius: 10px;
    #budgetsa{
    font-size: 1.3vw;
    color: #9f68d2;
    }
.dash_para3a{
    font-size: 1vw;
    color: #9f68d2;
}
}
.dash_button3aa:hover{
    background-color: #ebe7e7;
    border-radius: 10px;
    #budgetsaa{
    font-size: 1.3vw;
    color: #9f68d2;
    }
.dash_para3aa{
    font-size: 1vw;
    color: #9f68d2;
}
}
.dash_button3aaa:hover{
    background-color: #ebe7e7;
    border-radius: 10px;
    #budgetsaaa{
    font-size: 1.3vw;
    color: #9f68d2;
    }
.dash_para3aaa{
    font-size: 1vw;
    color: #9f68d2;
}
}
.dash_button3b:hover{
    background-color: #ebe7e7;
    border-radius: 10px;
    #budgetsb{
    font-size: 1.3vw;
    color: #9f68d2;
    }
.dash_para3b{
    font-size: 1vw;
    color: #9f68d2;
}
}
.dash_button3bb:hover{
    background-color: #ebe7e7;
    border-radius: 10px;
    #budgetsbb{
    font-size: 1.3vw;
    color: #9f68d2;
    }
.dash_para3bb{
    font-size: 1vw;
    color: #9f68d2;
}
}
.dash_button3bbb:hover{
    background-color: #ebe7e7;
    border-radius: 10px;
    #budgetsbbb{
    font-size: 1.3vw;
    color: #9f68d2;
    }
.dash_para3bbb{
    font-size: 1vw;
    color: #9f68d2;
}
}
.dash_button3c:hover{
    background-color: #ebe7e7;
    border-radius: 10px;
    #budgetsc{
    font-size: 1.3vw;
    color: #9f68d2;
    }
.dash_para3c{
    font-size: 1vw;
    color: #9f68d2;
}
}




.content_container{
    /* border: 2px solid blue; */
    width: 100%;
    background-color: #f1f5f6;
}
.request_div{
    border: 2px solid black;
    height: 60px;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    text-align: center;
    align-items: center;
}
.viereq{
    color: #311B4E;
    font-size: 28px;
    cursor: default;
    margin-left: 30PX;
}
.main_page{
    margin-left: 30px;
    margin-top: 30px;
    border: 2px solid black;
    height: 1000px;
    width: 1150px;
    background-color: white;
}
.whats_page{
    width: 370px;
    height: 1050px;
    border: 2px solid blue;
}
.heading_1{
    width: 370px;
    height: 80px;
    /* border: 2px solid black; */
    position: relative;
}
.chat_butt{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 45px;
    width: 112px;
    background-color: #F6EEFF;
    border: none;
    border-radius: 6px;
    color: #6418C3;
    font-size: 18px;
    font-weight: 600;
}
.gup_butt{
    position: absolute;
    top: 20px;
    left:130px;
    height: 45px;
    width: 112px;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    color: #6F767E;
    font-size: 26px;
}
#dots_3{
    position: absolute;
    top: 32px;
    left:320px;
    color: #9E9E9E;
    font-size: 22px;
}
.heading_2{
    width: 370px;
    height: 80px;
    /* border: 2px solid black; */
    position: relative;
}
.search_forma{
    margin-top: 10px;
    margin-left: 20px;
    height: 7vh;
    width: 250px;
    border: 0.5px solid #ccc1c1 ;
    background-color:#F8F8F8 ;
    /* border: transparent; */
    border-radius: 10px;
    padding-left: 4vw;
    font-size: 17px;
    color: #A8A8A8;
}
.form1a{
    position: relative;
}
#search_icona{
    font-size: 1.5vw;
    color: #b5b8bb;
    position: absolute;
    top:25px;
    left: 30px;
 }
 #fillter{
    position: absolute;
    left: 310px;
    bottom: 25px;
    color: #b5b8bb;
    font-size: 26px;
 }
 .chatarea{
    margin-top: 15px;
    height: 80px;
    /* border: 2px solid black; */
    position: relative;
    background-color: #F6EEFF;
 }
 .imag_1{
    position: absolute;
    top: 12px;
    left: 10px;
    height: 50px;
 }
.jam_para{
    position: absolute;
    top: 10px;
    left: 90px;
    font-weight: 600;
    font-size: 18px;
    color: #311B4E;
}
.short_cir{
    position: absolute;
    top: 45px;
    left: 50px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #2DCD5B;
}
.nee_para{
    position: absolute;
    top: 32px;
    left: 90px;
    font-size: 13px;
    color: #616161;
}
.tim{
    position: absolute;
    top:6px;
    left: 280px;
    font-size: 16px;
    color: #6418C3;
}
.circle{
    position: absolute;
    top:32px;
    left: 310px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #6418C3;
}
.circle p{
    color: white;
    font-size: 13px;
    position: absolute;
    /* bottom: 1px; */
    /* top:0.2px; */
    left: 8px;
}
 .chatareaa{
    margin-top: 10px;
    height: 80px;
    /* border: 2px solid black; */
    position: relative;
 }
 .imag_1a{
    position: absolute;
    top: 12px;
    left: 10px;
    height: 50px;
 }
.jam_paraa{
    position: absolute;
    top: 10px;
    left: 90px;
    font-weight: 600;
    font-size: 18px;
    color: #311B4E;
}
.nee_paraa{
    position: absolute;
    top: 32px;
    left: 90px;
    font-size: 13px;
    color: #616161;
}
.tima{
    position: absolute;
    top:16px;
    left: 280px;
    font-size: 16px;
    color: #333333;
}
.short_cira{
    position: absolute;
    top: 45px;
    left: 50px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #FFAB2D;
}
 .chatareaab{
    /* margin-top: 10px; */
    height: 80px;
    /* border: 2px solid black; */
    position: relative;
 }
 .imag_1ab{
    position: absolute;
    top: 12px;
    left: 10px;
    height: 50px;
 }
.jam_paraab{
    position: absolute;
    top: 10px;
    left: 90px;
    font-weight: 600;
    font-size: 18px;
    color: #311B4E;
}
.nee_paraab{
    position: absolute;
    top: 32px;
    left: 90px;
    font-size: 13px;
    color: #616161;
}
.timab{
    position: absolute;
    top:16px;
    left: 280px;
    font-size: 16px;
    color: #333333;
}
.short_cirab{
    position: absolute;
    top: 45px;
    left: 50px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #FFAB2D;
}
 .chatareaabc{
    /* margin-top: 10px; */
    height: 80px;
    /* border: 2px solid black; */
    position: relative;
 }
 .imag_1abc{
    position: absolute;
    top: 12px;
    left: 10px;
    height: 50px;
 }
.jam_paraabc{
    position: absolute;
    top: 10px;
    left: 90px;
    font-weight: 600;
    font-size: 18px;
    color: #311B4E;
}
.nee_paraabc{
    position: absolute;
    top: 32px;
    left: 90px;
    font-size: 13px;
    color: #616161;
}
.timabc{
    position: absolute;
    top:16px;
    left: 280px;
    font-size: 16px;
    color: #333333;
}
.short_cirabc{
    position: absolute;
    top: 45px;
    left: 50px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #2DCD5B;
}
 .chatareaabcd{
    /* margin-top: 10px; */
    height: 80px;
    /* border: 2px solid black; */
    position: relative;
 }
 .imag_1abcd{
    position: absolute;
    top: 12px;
    left: 10px;
    height: 50px;
 }
.jam_paraabcd{
    position: absolute;
    top: 10px;
    left: 90px;
    font-weight: 600;
    font-size: 18px;
    color: #311B4E;
}
.nee_paraabcd{
    position: absolute;
    top: 32px;
    left: 90px;
    font-size: 13px;
    color: #616161;
}
.timabcd{
    position: absolute;
    top:16px;
    left: 280px;
    font-size: 16px;
    color: #333333;
}
.short_cirabcd{
    position: absolute;
    top: 45px;
    left: 50px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #2DCD5B;
}
 .chatareaabcde{
    /* margin-top: 10px; */
    height: 80px;
    /* border: 2px solid black; */
    position: relative;
 }
 .imag_1abcde{
    position: absolute;
    top: 12px;
    left: 10px;
    height: 50px;
 }
.jam_paraabcde{
    position: absolute;
    top: 10px;
    left: 90px;
    font-weight: 600;
    font-size: 18px;
    color: #311B4E;
}
.nee_paraabcde{
    position: absolute;
    top: 32px;
    left: 90px;
    font-size: 13px;
    color: #616161;
}
.timabcde{
    position: absolute;
    top:16px;
    left: 280px;
    font-size: 16px;
    color: #333333;
}
.short_cirabcde{
    position: absolute;
    top: 45px;
    left: 50px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #2DCD5B;
}
 .chatareaabcdef{
    /* margin-top: 10px; */
    height: 80px;
    /* border: 2px solid black; */
    position: relative;
 }
 .imag_1abcdef{
    position: absolute;
    top: 12px;
    left: 10px;
    height: 50px;
 }
.jam_paraabcdef{
    position: absolute;
    top: 10px;
    left: 90px;
    font-weight: 600;
    font-size: 18px;
    color: #311B4E;
}
.nee_paraabcdef{
    position: absolute;
    top: 32px;
    left: 90px;
    font-size: 13px;
    color: #616161;
}
.timabcdef{
    position: absolute;
    top:16px;
    left: 280px;
    font-size: 16px;
    color: #333333;
}
.short_cirabcdef{
    position: absolute;
    top: 45px;
    left: 50px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #FF4F64;
}
 .chatareaabcdefg{
    /* margin-top: 10px; */
    height: 80px;
    /* border: 2px solid black; */
    position: relative;
 }
 .imag_1abcdefg{
    position: absolute;
    top: 12px;
    left: 10px;
    height: 50px;
 }
.jam_paraabcdefg{
    position: absolute;
    top: 10px;
    left: 90px;
    font-weight: 600;
    font-size: 18px;
    color: #311B4E;
}
.nee_paraabcdefg{
    position: absolute;
    top: 32px;
    left: 90px;
    font-size: 13px;
    color: #616161;
}
.timabcdefg{
    position: absolute;
    top:16px;
    left: 280px;
    font-size: 16px;
    color: #333333;
}
.short_cirabcdefg{
    position: absolute;
    top: 45px;
    left: 50px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #2DCD5B;
}
 .chatareaabcdefgh{
    /* margin-top: 10px; */
    height: 80px;
    /* border: 2px solid black; */
    position: relative;
 }
 .imag_1abcdefgh{
    position: absolute;
    top: 12px;
    left: 10px;
    height: 50px;
 }
.jam_paraabcdefgh{
    position: absolute;
    top: 10px;
    left: 90px;
    font-weight: 600;
    font-size: 18px;
    color: #311B4E;
}
.nee_paraabcdefgh{
    position: absolute;
    top: 32px;
    left: 90px;
    font-size: 13px;
    color: #616161;
}
.timabcdefgh{
    position: absolute;
    top:16px;
    left: 280px;
    font-size: 16px;
    color: #333333;
}
.short_cirabcdefgh{
    position: absolute;
    top: 45px;
    left: 50px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #2DCD5B;
}
 .chatareaabcdefghi{
    /* margin-top: 10px; */
    height: 80px;
    /* border: 2px solid black; */
    position: relative;
 }
 .imag_1abcdefghi{
    position: absolute;
    top: 12px;
    left: 10px;
    height: 50px;
 }
.jam_paraabcdefghi{
    position: absolute;
    top: 10px;
    left: 90px;
    font-weight: 600;
    font-size: 18px;
    color: #311B4E;
}
.nee_paraabcdefghi{
    position: absolute;
    top: 32px;
    left: 90px;
    font-size: 13px;
    color: #616161;
}
.timabcdefghi{
    position: absolute;
    top:16px;
    left: 280px;
    font-size: 16px;
    color: #333333;
}
.short_cirabcdefghi{
    position: absolute;
    top: 45px;
    left: 50px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #2DCD5B;
}
 .chatareaabcdefghij{
    /* margin-top: 10px; */
    height: 40px;
    border: 2px solid black;
    position: relative;
 }
 .imag_1abcdefghij{
    position: absolute;
    top: 12px;
    left: 10px;
    height: 50px;
 }
.jam_paraabcdefghij{
    position: absolute;
    top: 10px;
    left: 90px;
    font-weight: 600;
    font-size: 18px;
    color: #311B4E;
}
.nee_paraabcdefghij{
    position: absolute;
    top: 32px;
    left: 90px;
    font-size: 13px;
    color: #616161;
}
.timabcdefghij{
    position: absolute;
    top:16px;
    left: 280px;
    font-size: 16px;
    color: #333333;
}
.short_cirabcdefghij {
    position: absolute;
    top: 45px;
    left: 50px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #2DCD5B;
}