*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    /* font-family: 'Cairo', sans-serif; */
}
header{
    width: 100%;
    height: 11vh;
  
}
.header_div{
    /* width: 1520px; */
    height: 11vh;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'Cairo', sans-serif; 
}
.logo h1{
    font-size: 1.9vw;
    color: rgb(35, 156, 232);
    letter-spacing: 2px;
    margin-left: 70px;
}
.logo h1 span{
    color: red;
}
.container{
    height: 11vh;
    width: 50vw;
    /* border: 2px solid blue; */
    display: flex;
   
    justify-content: center;
    align-items: center;
    gap: 5vw;
}
.search_form{
    height: 6vh;
    width: 320px;
    border: 0.5px solid #ccc1c1 ;
    background-color:#F8F8F8 ;
    border: transparent;
    border-radius: 10px;
    /* color:#ccc1c1 ; */
    padding-left: 2vw;
    font-size: 1vw;
    color: #A8A8A8;
}
.form1{
    position: relative;
}
.icons{
    /* width: 10vw; */
    /* border: 2px solid black; */
    display: flex;

    align-items: center;
    gap: 1.5vw;
  margin-left: 2vw;
}
#search_icon{
   font-size: 1vw;
   color: #906add;
   position: absolute;
   top:12px;
   left: 6px;
}
#question{
    font-size: 1.5vw;
    color: #ccc1c1;
}
#bell{
    font-size: 1.3vw;
    color: rgb(204, 193, 193);
    position: relative;
}
#noti{
    position: absolute;
    top: 3.3vh;
    left: 84.2vw;
}
.notification{
    width: 14px;
    height: 14px;
    /* border: 2px solid blue; */
    border-radius:70%;
    font-size: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 50, 50);
    color: white;
}
.circle_image{
    width: 4.5vw;
    height: 9vh;
    border: 0.3vw solid #906add;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shushat{
    height: 7vh;
    width: 3.5vw;
    border-radius: 50%;
}
#arrow_down{
    font-size: 2.5vw;
    color: #ccc1c1; ;
}
main{
    /* width: 100%; */
    /* font-family: 'Cairo', sans-serif;  */
    /* border: 2px solid black; */
}
.main_container{
    width: 100%;
    /* border: 2px solid yellow; */
    display: flex;
}
a{
    text-decoration-line : none;
}
nav{
    width: 20vw;
    height: 1550px;
    /* border: 2px solid blue; */
    /* align-items: center; */
    display: flex;
    flex-direction:column;
    gap: 0.5vw;
    font-family: 'Cairo', sans-serif; 
}
.menu{
    margin-top: 38px;
    margin-left: 60px;
    font-size: 1vw;
    color: #4b4747;
    cursor:default;
}
.dash_button{
    margin-top: 20px;
    margin-left: 40px;
    width: 17vw;
    padding: 20px 15px;
    background-color: #e1dede;
    border-radius: 10px;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    cursor: pointer;
}
#window{
    margin-left: 20px;
    font-size: 1.5vw;
    color: #6418C3;
}
.dash_para{
    font-size: 1vw;
    color: #6418C3;
}
.dash_button2{
    margin-left: 40px;
    width: 17vw;
    padding: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    background-color: none;
    cursor: pointer;
}
#request{
    margin-left: 20px;
    font-size: 1.3vw;
    color: #bbb4b4;
}
.dash_para2{
    font-size: 1vw;
    color: #bbb4b4;
}
.dash_button3{
    margin-left: 40px;
    width: 17vw;
    padding: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    background-color: none;
    cursor: pointer;
}
#budgets{
    margin-left: 20px;
    font-size: 1.3vw;
    color: #bbb4b4;
}
.dash_para3{
    font-size: 1vw;
    color: #bbb4b4;
}
.dash_button3a{
    margin-left: 40px;
    width: 17vw;
    padding: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    background-color: none;
    cursor: pointer;
}
#budgetsa{
    margin-left: 20px;
    font-size: 1.3vw;
    color: #bbb4b4;
}
.dash_para3a{
    font-size: 1vw;
    color: #bbb4b4;
}
.dash_button3aa{
    margin-left: 40px;
    width: 17vw;
    padding: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    background-color: none;
    cursor: pointer;
}
#budgetsaa{
    margin-left: 20px;
    font-size: 1.3vw;
    color: #bbb4b4;
}
.dash_para3aa{
    font-size: 1vw;
    color: #bbb4b4;
}
.dash_button3aaa{
    margin-left: 40px;
    width: 17vw;
    padding: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    background-color: none;
    cursor: pointer;
}
#budgetsaaa{
    margin-left: 20px;
    font-size: 1.3vw;
    color: #bbb4b4;
}
.dash_para3aaa{
    font-size: 1vw;
    color: #bbb4b4;
}
.menu2{
    cursor:default;
    margin-top: 20px;
    margin-left: 60px;
    font-size: 1vw;
    color: #4b4747;
}
.dash_button3b{
    margin-left: 40px;
    width: 17vw;
    padding: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    background-color: none;
    cursor: pointer;
}
#budgetsb{
    margin-left: 20px;
    font-size: 1.3vw;
    color: #bbb4b4;
}
.dash_para3b{
    font-size: 1vw;
    color: #bbb4b4;
}
.dash_button3bb{
    margin-left: 40px;
    width: 17vw;
    padding: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    background-color: none;
    cursor: pointer;
}
#budgetsbb{
    margin-left: 20px;
    font-size: 1.3vw;
    color: #bbb4b4;
}
.dash_para3bb{
    font-size: 1vw;
    color: #bbb4b4;
}
.dash_button3bbb{
    margin-left: 40px;
    width: 17vw;
    padding: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    background-color: none;
    cursor: pointer;
}
#budgetsbbb{
    margin-left: 20px;
    font-size: 1.3vw;
    color: #bbb4b4;
}
.dash_para3bbb{
    font-size: 1vw;
    color: #bbb4b4;
}
.dash_button3c{
    margin-left: 40px;
    width: 17vw;
    padding: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1vw;
    background-color: none;
    cursor: pointer;
}
#budgetsc{
    margin-left: 20px;
    font-size: 1.3vw;
    color: #bbb4b4;
}
.dash_para3c{
    font-size: 1vw;
    color: #bbb4b4;
}
.menu3{
    cursor:default;
    margin-top: 20px;
    margin-left: 60px;
    font-size: 1vw;
    color: #4b4747;
}
.menu4{
    margin-top: 20px;
    margin-left: 60px;
    font-size: 1vw;
    color: #4b4747;
    cursor:default;
}
.content_container{
    margin-left: 15px;
    /* border: 2px solid blue; */
    width: 1197px;
    background-color: #f1f5f6;
}
.dash_title{
    height: 15vh;
    /* border: 2px solid purple; */
    font-family: 'Cairo', sans-serif; 
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading{
    
    /* border: 2px solid purple; */
    width: 20vw;
    height:15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height:1.4;
    cursor:default
}
.dash_heading2{
  margin-left: 30PX;
    color: #6418C3;
    font-size: 2vw;
}
.para_heading2{
    margin-left: 30PX;
    color: #7f7979;
    font-size: 16px;
}
.change_period{
    margin-right: 20px;
    width: 22vw;
    height: 11VH;
    background-color: white;
    /* border: 2px solid blue; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1vw;
    position: relative;
    cursor:default;
}
#calen{
    margin-left: 30px;
    font-size: 2vw;
    color:#7013c6;
}
.change-para{
    font-size: 1.2vw;
    color: #7013c6;
}
.date_para{
    font-size: 16px;
    color: #b2afaf;
}
#arr{
    bottom: 30px;
    right: 10px;
   position: absolute;
    font-size: 1.5vw;
    color: #7f7979;
}
.percentage{
    width: 1197px;
   height: 170px;
    /* border: 2px solid purple; */
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.per_1{
    width: 280px;
    height: 115px;
    border-radius: 10px;
    background-color: white;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-family: 'Cairo', sans-serif; 
}
.pur-para{
    color: #B2B2B2;
    font-size: 16px;
    line-height: normal;
    margin-left: 10px;
}
.num_1{
    width: 54px;
    height: 50px;
    color: #311B4E;
    font-size: 27px;
    font-style: normal;
    margin-left: 10px;
    font-weight: 600;
    line-height: normal;
}
.con{
    width:160px;
    height: 4vh;
    /* border: 2px solid black; */
    margin-left: 8px;
    display: flex;
    position: relative;
}
.arrow-icon{
    height: 3.2vh;
    width: 1.5vw;
    /* border: 2px solid blue; */
    border-radius: 50%;
    background-color: #f1f5f6;
    position: relative;
}
#right_up{
    position: absolute;
    font-size: 1.3vw;
    color: #44a53f;
    left: 1px;
    top: 1px;
}
.last{
    font-size: 15px;
    position: absolute;
    /* top: 9px; */
    left: 35px;
}
.per_div1{
    position: absolute;
    left: 170px;
    height: 90px;
    width: 95px;
    /* border: 2px solid black; */
    border-radius: 50%;
    background-color:#44a53f ;
}
.per_div2{
    position: absolute;
    top: 7px;
    left: 7px;
    height: 76px;
    width: 82px;
    /* border: 2px solid black; */
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
}
.plus_74{
    position: absolute;
    left: 15px;
    font-size: 22px;
}
.per_10{
    width: 280px;
    height: 115px;
    border-radius: 10px;
    background-color: white;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-family: 'Cairo', sans-serif; 
}
.pur-para0{
    color: #B2B2B2;
    font-size: 16px;
    line-height: normal;
    margin-left: 10px;
}
.num_10{
    width: 54px;
    height: 50px;
    color: #311B4E;
    font-size: 27px;
    font-style: normal;
    margin-left: 10px;
    font-weight: 600;
    line-height: normal;
}
.con0{
    width:160px;
    height: 4vh;
    /* border: 2px solid black; */
    margin-left: 8px;
    display: flex;
    position: relative;
}
.arrow-icon0{
    height: 3.2vh;
    width: 1.5vw;
    /* border: 2px solid blue; */
    border-radius: 50%;
    background-color: #f1f5f6;
    position: relative;
}
#right_up0{
    position: absolute;
    font-size: 1.3vw;
    color: #ffa600;
    left: 1px;
    top: 1px;
}
.last0{
    font-size: 15px;
    position: absolute;
    /* top: 9px; */
    left: 35px;
}
.per_div10{
    position: absolute;
    left: 170px;
    height: 90px;
    width: 95px;
    /* border: 2px solid black; */
    border-radius: 50%;
    background-color:#ffa600 ;
}
.per_div20{
    position: absolute;
    top: 7px;
    left: 7px;
    height: 76px;
    width: 82px;
    /* border: 2px solid black; */
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
}
.plus_740{
    position: absolute;
    left: 15px;
    font-size: 22px;
}
.per_100{
    width: 280px;
    height: 115px;
    border-radius: 10px;
    background-color: white;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-family: 'Cairo', sans-serif; 
}
.pur-para00{
    color: #B2B2B2;
    font-size: 16px;
    line-height: normal;
    margin-left: 10px;
}
.num_100{
    width: 54px;
    height: 50px;
    color: #311B4E;
    font-size: 27px;
    font-style: normal;
    margin-left: 10px;
    font-weight: 600;
    line-height: normal;
}
.con00{
    width:160px;
    height: 4vh;
    /* border: 2px solid black; */
    margin-left: 8px;
    display: flex;
    position: relative;
}
.arrow-icon00{
    height: 3.2vh;
    width: 1.5vw;
    /* border: 2px solid blue; */
    border-radius: 50%;
    background-color: #f1f5f6;
    position: relative;
}
#right_up00{
    position: absolute;
    font-size: 1.3vw;
    color: #ff5630;
    left: 1px;
    top: 1px;
}
.last00{
    font-size: 15px;
    position: absolute;
    /* top: 9px; */
    left: 35px;
}
.per_div100{
    position: absolute;
    left: 170px;
    height: 90px;
    width: 95px;
    /* border: 2px solid black; */
    border-radius: 50%;
    background-color:#ff5630 ;
}
.per_div200{
    position: absolute;
    top: 7px;
    left: 7px;
    height: 76px;
    width: 82px;
    /* border: 2px solid black; */
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
}
.plus_7400{
    position: absolute;
    left: 15px;
    font-size: 22px;
}
.per_1000{
    width: 280px;
    height: 115px;
    border-radius: 10px;
    background-color: white;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-family: 'Cairo', sans-serif; 
}
.pur-para000{
    color: #B2B2B2;
    font-size: 16px;
    line-height: normal;
    margin-left: 10px;
}
.num_1000{
    width: 54px;
    height: 50px;
    color: #311B4E;
    font-size: 27px;
    font-style: normal;
    margin-left: 10px;
    font-weight: 600;
    line-height: normal;
}
.con000{
    width:160px;
    height: 4vh;
    /* border: 2px solid black; */
    margin-left: 8px;
    display: flex;
    position: relative;
}
.arrow-icon000{
    height: 3.2vh;
    width: 1.5vw;
    /* border: 2px solid blue; */
    border-radius: 50%;
    background-color: #f1f5f6;
    position: relative;
}
#right_up000{
    position: absolute;
    font-size: 1.3vw;
    color: #44a53f;
    left: 1px;
    top: 1px;
}
.last000{
    font-size: 15px;
    position: absolute;
    /* top: 9px; */
    left: 35px;
}
.per_div1000{
    position: absolute;
    left: 160px;
    height: 90px;
    width: 95px;
    /* border: 2px solid black; */
    border-radius: 50%;
    background-color:#ffffff ;
}
#wave{
    position: absolute;
    left: 10px;
    top: 1px;
    font-size: 70px;  
    color: #20033a;
}


.floor_1{
    width: 100%;
    height: 450px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1.7;
}
.section_30{
    height: 420px;
    width: 700px;
    background-color: white;
    border-radius: 10px;
}
.spend_ana{
    margin-left: 30px;
    margin-top: 22px;
    color: #311B4E;
    font-size: 18px;
    font-weight: 600;
}
.spend_para{
    color: #5B5B5B;
    font-size: 11px;
    font-weight: 500;
    margin-left: 30px;
}
.graph1{
    margin-top: 20px;
    margin-left: 30px;
}

.section_40{
    border-radius: 10px;
    height: 420px;
    width: 400px;
    background-color: white;
    position: relative;
}
.month_para{
color: #333;
font-family: Inter;
font-size: 14px;
font-weight: 500;
}
.requ_div{
    height: 50px;
    width: 400px;
    /* border: 2px solid black; */
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.requ_para{
    color: #311B4E;
    font-size: 22px;
    font-weight: 600;
}
.moths_div{
    border-radius: 10px;
    border: 1px solid  #F0F0F0;
    height: 40px;
    display: flex;
    width: 120px;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: default;
}
#month_arr{
    font-size: 22px;
}
.bar1_div{
    /* border: 2px solid black; */
    height: 250px;
}
.bar1{
    position: absolute;
    margin-left: 100px;
    margin-top: 40px;
}
.circles_div{
    margin-left: 10px;
    width: 380px;
    height: 90px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cir_pur_div{
    height: 70px;
    width: 100px;
    /* border: 2px solid black; */
    display: flex;
    gap: 15px;
}
.cir_cir_para{
    height: 40px;
    width: 20px;
    /* border: 2px solid black; */
    /* display: flex;
    gap: 25px; */
}
.para_div{
    height: 60px;
    width: 70px;
    /* border: 2px solid blue; */
}
#cir_pur{
    color: #9B51E0;
}
.act{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.38);
}
.act0{
    margin-left: 8px;
    color: rgba(91, 91, 91, 0.87);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
}
#cir_pur0{
    color: #39b29a;
}
.act01{
    margin-left: 24px;
    color: rgba(91, 91, 91, 0.87);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
}
.act02{
    margin-left: 18px;
    color: rgba(91, 91, 91, 0.87);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
}
#cir_pur1{
    color: #f4be37;
}
.floor_2{
    margin-top: 20px;
    width: 100%;
    height: 500px;
    /* border: 2px solid black; */
    /* background-color: white; */
}
.pur_div{
    margin-left: 30px;
    width: 1140px;
    height: 450px;
    /* border: 2px solid blue; */
    background-color: white;
}
.pur_ord{
    height: 60px;
    /* border: 2px solid black; */
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.number_div{
    margin-top: 20px;
    height: 70px;
    width: 700px;
    /* border: 2px solid black; */
    display: flex;
    gap: 80px;
}
.div1_num{
    margin-left: 30px;
    height: 70px;
    width: 40px;
    /* border: 2px solid blue; */
    line-height: 1.3;
}
.num_pur{
    color: #6418C3;
    font-size: 24px;
    font-weight: 600;
}
.acta{
    margin-left: 8px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.38);
}
.div1_num1{
    height: 70px;
    width: 70px;
    /* border: 2px solid blue; */
    line-height: 1.3;
}
.num_pur1{
    color: #39B29A;
    font-size: 24px;
    font-weight: 600;
}
.acta1{
    /* margin-left: 10px; */
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.38);
}
.div1_num11{
    height: 70px;
    width: 70px;
    /* border: 2px solid blue; */
    line-height: 1.3;
}
.num_pur11{
    color: #CA84DE;
    font-size: 24px;
    font-weight: 600;
}
.acta11{
    /* margin-left: 10px; */
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.38);
}
.graph_2div{
    height: 300px;
    /* border: 2px solid teal; */
    display: flex;
}
.grap_num{
    margin-left: 30px;
    width: 25px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.num1{
    color: #5B5B5B;
    font-size: 15px;
    font-weight: 500;
}
.fullgraph{
    width: 1110px;
    /* border: 2px solid blueviolet; */
    display: flex;
    flex-direction: column;
}
.lines{
    height: 235px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    position: relative;
}
.line1{
    margin-top: 10px;
}
.line2{
    position: absolute;
    margin-top: 110px;
    width: 1070px;
}
.line3{
    position: absolute;
    top: 145px;
    width: 1070px;
}
.month_names{
    height: 30px;
    /* border: 2px solid black; */
    display: flex;
    gap: 70px;
}
.mon{
    color: #5B5B5B;
    text-align: center; 
    font-size: 14px;
    font-weight: 600;
}
.floor_3{
    width: 100%;
    height: 550px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section_1{
    width: 600px;
    height: 500px;
    /* border: 2px solid blue; */
    background-color: white;
    border-radius: 10px;
}
.fst_1{
    padding: 30px;
    margin-top: 20px;
    height: 50px;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:space-between;
    cursor:default
}
.div_content{
    height: 400px;
    /* border: 2px solid black; */
    /* gap: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.act_heading{
    font-size: 22px;
    color: #20033a;
}
.more_act{
    font-size: 20px;
    color: black;
}
.sec_2{
    margin-top: 20px;
    height: 35px;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:space-between;
    padding: 40px;
}
.img_con{
    /* border: 2px solid black; */
    height: 75px;
    width: 450px;
    display: flex;
    align-items: center;
    text-align: center;
}
.image_circle1{
    height: 70px;
    width: 75px;
    border: 3px solid blueviolet;
    border-radius: 50%;
}
.gir_1{
    height:65.2px;
    width: 70px;
    border-radius: 50%;
    cursor:default
}
.gir1_content{
    margin-left: 20px;
    line-height:1.5;
    /* border: 2px solid black; */
    text-align: justify;
    cursor:default
}
.gir_1para{
    font-size: 14px;
    color: grey;
    cursor:default
}
.gir_1para2{
    font-size:16px;
    cursor:default
}
.arr_div{
    border: 2.5px solid #b4a7a7;
    height: 40px;
    width: 48px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}
#greater_arrow{
    color: #b4a7a7;
    position: absolute;
    left: 12px;
    font-size: 25px;
}
.section_2{
    width: 500px;
    height: 500px;
    /* border: 2px solid blue; */
    background-color: white;
    border-radius: 10px;
}
.deli_cont{
    margin-top: 10px;
    /* border: 2px solid black; */
}
.deli_para{
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 32px;
    height: 50px;
    color: #20033a;
    font-size: 22px;
    /* font-weight: 600; */
}
.div_content2{
    margin-top: 20px;
    /* margin-left: 30px; */
    width: 500px;
    height: 400px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* text-align: center; */
    align-items: center;
}
.map1{
    width: 450px;
    height: 110px;
    border: 1px solid #848484;
    /* box-shadow: 2px 2px 15px gray; */
    border-radius: 10px;

}
.map_divmain{
    margin-left: 10px;
    margin-top: 10px;
    /* border: 2px solid brown; */
    height: 90px;
    width: 430px;
}
.div1_order{
    align-items: center;
    height: 30px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
    cursor:default;
}
.para_1{
    color: #20033a;
    font-weight: 500;
    font-size: 16px;
}
#dots{
    color: #bdb7b7;
    font-size: 28px;
}
.div2_order{
    display: flex;
    align-items: center;
    height: 20px;
    /* border: 2px solid blue; */
    gap: 5px;
    cursor:default;
}
.radius1{
    width: 150px;
    height: 10px;
    /* border: 2px solid black; */
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    background-image: linear-gradient(to right,#94889f, #580d9f);
}
.radius2{
    width: 11px;
    height: 10px;
    /* border: 2px solid black; */
    border-radius: 50%;
    background-color: #6423a1;
}
.radius3{
    width: 90px;
    height: 10px;
    /* border: 2px solid black; */
    background-color: #6423a1;
}
.radius4{
    width: 30px;
    height: 30px;
    /* border: 2px solid black; */
    background-color: #6423a1;
    border-radius: 50%;
    position: relative;
}
#car{
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
}
.radius5{
    width: 180px;
    height: 10px;
    /* border: 2px solid black; */
    background-color: #bdb7b7;
}
.radius6{
    width: 11px;
    height: 10px;
    /* border: 2px solid black; */
    background-color: #bdb7b7;
    border-radius: 50%;
}
.div3_order{
    height: 15px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:default;
}
.timing{
    color: grey;
    font-size: 10px;
}
.timing2{
    color: grey;
    font-size: 10px;
}
.div4_order{
    height: 20px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:default;
}
.usa{
    font-size: 14px;
    color: #20033a;
}
.usa1{
    font-size: 14px;
    color: #20033a;
}


.map2{
    width: 450px;
    height: 110px;
    border: 1px solid #848484;
    /* box-shadow: 2px 2px 15px gray; */
    border-radius: 10px;

}
.map_divmain0{
    margin-left: 10px;
    margin-top: 10px;
    /* border: 2px solid brown; */
    height: 90px;
    width: 430px;
}
.div1_order0{
    height: 30px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
    align-items: center;
    cursor:default;
}
.para_10{
    color: #20033a;
    font-weight: 500;
    font-size: 16px;
}
#dots0{
    color: #bdb7b7;
    font-size: 28px;
}
.div2_order0{
    display: flex;
    align-items: center;
    height: 20px;
    /* border: 2px solid blue; */
    gap: 5px;
    cursor:default;
}
.radius10{
    width: 200px;
    height: 10px;
    /* border: 2px solid black; */
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    background-image: linear-gradient(to right,#94889f, #580d9f);
}

.radius40{
    width: 30px;
    height: 30px;
    /* border: 2px solid black; */
    background-color: #6423a1;
    border-radius: 50%;
    position: relative;
}
#car0{
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
}
.radius50{
    width: 248px;
    height: 10px;
    /* border: 2px solid black; */
    background-color: #bdb7b7;
}
.radius60{
    width: 11px;
    height: 10px;
    /* border: 2px solid black; */
    background-color: #bdb7b7;
    border-radius: 50%;
}
.div3_order0{
    height: 15px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:default;
}
.timing0{
    color: grey;
    font-size: 10px;
}
.timing20{
    color: grey;
    font-size: 10px;
}
.div4_order0{
    cursor:default;
    height: 20px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.usa0{
    font-size: 14px;
    color: #20033a;
}
.usa10{
    font-size: 14px;
    color: #20033a;
}
.map3{
    width: 450px;
    height: 110px;
    border: 1px solid #848484;
    /* box-shadow: 2px 2px 15px gray; */
    border-radius: 10px;

}
.map_divmain00{
    margin-left: 10px;
    margin-top: 10px;
    /* border: 2px solid brown; */
    height: 90px;
    width: 430px;
}
.div1_order00{
    height: 30px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
    align-items: center;
    cursor:default;
}
.para_100{
    color: #20033a;
    font-weight: 500;
    font-size: 16px;
}
#dots00{
    color: #bdb7b7;
    font-size: 28px;
}
.div2_order00{
    display: flex;
    align-items: center;
    height: 20px;
    /* border: 2px solid blue; */
    gap: 5px;
    cursor:default;
}
.radius100{
    width: 200px;
    height: 10px;
    /* border: 2px solid black; */
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    background-image: linear-gradient(to right,#94889f, #580d9f);
}
.radius200{
    width: 11px;
    height: 10px;
    /* border: 2px solid black; */
    border-radius: 50%;
    background-color: #6423a1;
}
.radius300{
    width: 90px;
    height: 10px;
    /* border: 2px solid black; */
    background-color: #6423a1;
}
.radius400{
    width: 11px;
    height: 10px;
    /* border: 2px solid black; */
    border-radius: 50%;
    background-color: #6423a1;
}
.radius500{
    width: 120px;
    height: 10px;
    /* border: 2px solid black; */
    background-color: #6423a1;
}
.radius600{
    width: 30px;
    height: 30px;
    /* border: 2px solid black; */
    background-color: #6423a1;
    border-radius: 50%;
    position: relative;
}
#car00{
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
}
.radius700{
    width: 11px;
    height: 10px;
    /* border: 2px solid black; */
    background-color: #6423a1;
    border-radius: 50%;
} 
.div3_order00{
    height: 15px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:default;
}
.timing00{
    color: grey;
    font-size: 10px;
}
.timing200{
    color: grey;
    font-size: 10px;
}
.div4_order00{
    height: 20px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:default;
}
.usa00{
    font-size: 14px;
    color: #20033a;
}
.usa100{
    font-size: 14px;
    color: #20033a;
}
.floor_4{
    width: 100%;
    height: 500px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
}
.section_3{
    height: 480px;
    width: 700px;
    background-color: white;
    border-radius: 10px;
}
.sec_heading{
    height: 50px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spend_by{
    margin-left: 30px;
    color: #311B4E;
    font-size: 20px;
    font-weight: 600;
}
.month_paraa{
    color: #333;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
}
.moths_diva{
    margin-right: 30px;
    border-radius: 10px;
    border: 1px solid  #F0F0F0;
    height: 40px;
    display: flex;
    width: 120px;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: default;
    }
.graph_hr{
    /* border: 2px solid red; */
    height: 400px;
    position: relative;
}
.hr1{
    position: absolute;
    top: 180px;
    right: 470px;;
    width: 300px;
    transform: rotate(90deg);
}
.hr2{
    position: absolute;
    top: 31px;
    left: 376px;
    height: 600px;
    transform: rotate(90deg);
}
.hr3{
    transform: rotate(90deg);
    position: absolute;
    height: 20px;
    top: 320px;
    left: 65px;
}
.num_no{
    left: 32px;
    top: 322px;
    position: absolute;
    color: #747474;
    font-size: 12px;
    font-weight: 400;
}
.hr4{
    transform: rotate(90deg);
    position: absolute;
    height: 20px;
    top: 270px;
    left: 65px;
}
.num_no1{
    color: #747474;
    position: absolute;
    top: 272px;
    left: 32px;
    font-size: 12px;
}
.hr5{
    transform: rotate(90deg);
    position: absolute;
    height: 20px;
    top: 215px;
    left: 65px;
}
.num_no2{
    color: #747474;
    position: absolute;
    top: 218px;
    left: 32px;
    font-size: 12px;
}
.hr6{
    transform: rotate(90deg);
    position: absolute;
    height: 20px;
    top: 160px;
    left: 65px;
}
.num_no3{
    color: #747474;
    position: absolute;
    top: 162px;
    left: 32px;
    font-size: 12px;
}
.hr7{
    transform: rotate(90deg);
    position: absolute;
    height: 20px;
    top: 100px;
    left: 65px;
}
.num_no4{
    color: #747474;
    position: absolute;
    top: 103px;
    left: 32px;
    font-size: 12px;
}
.hr8{
    transform: rotate(90deg);
    position: absolute;
    height: 20px;
    top: 50px;
    left: 65px;
}
.num_no5{
    color: #747474;
    position: absolute;
    top: 52px;
    left: 27px;
    font-size: 12px;
}
.box1{
    position: absolute;
    top: 310px;
    left: 90px;
}
.box2{
    position: absolute;
    top: 252px;
    left: 142px;
}
.box3{
    position: absolute;
    top: 212px;
    left: 195px;
}
.box4{
    position: absolute;
    top: 294px;
    left: 248px;
}
.box5{
    position: absolute;
    top: 235px;
    left: 300px;
}
.box6{
    position: absolute;
    top: 202px;
    left: 352px;
}
.box7{
    position: absolute;
    top: 217px;
    left: 404px;
}
.box8{
    position: absolute;
    top: 116px;
    left: 456px;
}
.box9{
    position: absolute;
    top: 236px;
    left: 509px;
}
.box10{
    position: absolute;
    top: 246px;
    left: 561px;
}
.box11{
    position: absolute;
    top: 236px;
    left: 614px;
}


.hr9{
    transform: rotate(125deg);
    position: absolute;
    /* height: 20px; */
    width: 20px;
    top: 12px; 
    left: 20px; 
}
.hr10{
    transform: rotate(125deg);
    position: absolute;
    /* height: 20px; */
    width: 20px;
    top: 12px; 
    left: 74px; 
}
.hr11{
    transform: rotate(125deg);
    position: absolute;
    /* height: 20px; */
    width: 20px;
    top: 12px; 
    left: 126px; 
}
.hr12{
    transform: rotate(125deg);
    position: absolute;
    /* height: 20px; */
    width: 20px;
    top: 12px; 
    left: 179px; 
}
.hr13{
    transform: rotate(125deg);
    position: absolute;
    /* height: 20px; */
    width: 20px;
    top: 12px; 
    left: 230px; 
}
.hr14{
    transform: rotate(125deg);
    position: absolute;
    /* height: 20px; */
    width: 20px;
    top: 12px; 
    left: 284px; 
}
.hr15{
    transform: rotate(125deg);
    position: absolute;
    /* height: 20px; */
    width: 20px;
    top: 12px; 
    left: 334px; 
}
.hr16{
    transform: rotate(125deg);
    position: absolute;
    /* height: 20px; */
    width: 20px;
    top: 12px; 
    left: 386px; 
}
.hr17{
    transform: rotate(125deg);
    position: absolute;
    /* height: 20px; */
    width: 20px;
    top: 12px; 
    left: 440px; 
}
.hr18{
    transform: rotate(125deg);
    position: absolute;
    /* height: 20px; */
    width: 20px;
    top: 12px; 
    left: 493px; 
}
.hr19{
    transform: rotate(125deg);
    position: absolute;
    /* height: 20px; */
    width: 20px;
    top: 12px; 
    left: 546px; 
}
.num_no6{
    color: #747474;
    position: absolute;
    top: 24px;
    left: 14px;
    font-size: 12px;
}
.num_no7{
    color: #747474;
    position: absolute;
    top: 24px;
    left: 65px;
    font-size: 12px;
}
.num_no8{
    color: #747474;
    position: absolute;
    top: 24px;
    left: 117px;
    font-size: 12px;
}
.num_no9{
    color: #747474;
    position: absolute;
    top: 24px;
    left: 170px;
    font-size: 12px;
}
.num_no10{
    color: #747474;
    position: absolute;
    top: 24px;
    left: 222px;
    font-size: 12px;
}
.num_no11{
    color: #747474;
    position: absolute;
    top: 24px;
    left: 278px;
    font-size: 12px;
}
.num_no12{
    color: #747474;
    position: absolute;
    top: 24px;
    left: 325px;
    font-size: 12px;
}
.num_no13{
    color: #747474;
    position: absolute;
    top: 24px;
    left: 378px;
    font-size: 12px;
}
.num_no14{
    color: #747474;
    position: absolute;
    top: 24px;
    left: 432px;
    font-size: 12px;
}
.num_no15{
    color: #747474;
    position: absolute;
    top: 24px;
    left: 484px;
    font-size: 12px;
}
.num_no16{
    color: #747474;
    position: absolute;
    top: 24px;
    left: 536px;
    font-size: 12px;
}
.cross_div{
    position: absolute;
    top: 330px;
    left: 76px;
    width: 620px;
    height: 50px;
    /* border: 2px solid yellow; */
}
.section_4{
    border-radius: 10px;
    height: 480px;
    width: 400px;
    background-color: white;
    padding: 20px;
    display:flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 10px;
}
.list{
    /* border: 2px solid black; */
    height: 420px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.top_seller{
    height: 40px;
    /* border: 2px solid blueviolet; */
    display: flex;
    align-items: center;
    cursor:default;
}
.top_seller_para{
    color: #20033a;
    font-size: 20px;
}
.top_seller_1{
    height: 70px;
    /* border: 2px solid blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor:default;
}
.img1{
    left: 10px;
    /* border: 2px solid teal; */
    width: 200px;
    display: flex;
    position: relative;
}
.img-cir{
    border: 2px solid blue;
    height: 50px;
    width: 55px;
    border-radius: 50%;
    position: relative;
}
.gir2{
    position: absolute;
    /* top: 0.5px; */
    /* left:1px; */
    height: 47px;
    width: 51.5px;
    border-radius: 50px;
}
.para_content{
    position: absolute;
    top: 12px;
    left: 75px;
    /* border: 2px solid blue; */
}
.winy_para{
    font-size: 16px;
}
.winy_pro{
    color: gray;
    font-size: 12px;
}
.dollar{
    /* border: 2px solid teal; */
    width: 100px;
    height: 50px;
    position: relative;
    right: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}
.dollar_para{
    position: absolute;
    left: 15px;
    color: #20033a;
    font-size: 16px;
}

.dash_button2:active{
    background-color: #e1dede;
    border: #e1dede;
    border-radius: 10px;
#request{
    color: #7013c6;
    }
.dash_para2{
    color: #7013c6;
}
}

.dash_button3:active{
    background-color: #e1dede;
    border: #e1dede;
    border-radius: 10px;
#budgets{
    color: #7013c6;
    }
.dash_para3{
    color: #7013c6;
}
}


.dash_button2:hover{
    background-color: #ebe7e7;
    border-radius: 10px;
    #request{
    font-size: 1.3vw;
    color: #9f68d2;

    }
.dash_para2{
    font-size: 1vw;
    color: #9f68d2;
}
}
.dash_button3:hover{
    background-color: #ebe7e7;
    border-radius: 10px;
    #budgets{
    font-size: 1.3vw;
    color: #9f68d2;
    }
.dash_para3{
    font-size: 1vw;
    color: #9f68d2;
}
}
.dash_button3a:hover{
    background-color: #ebe7e7;
    border-radius: 10px;
    #budgetsa{
    font-size: 1.3vw;
    color: #9f68d2;
    }
.dash_para3a{
    font-size: 1vw;
    color: #9f68d2;
}
}
.dash_button3aa:hover{
    background-color: #ebe7e7;
    border-radius: 10px;
    #budgetsaa{
    font-size: 1.3vw;
    color: #9f68d2;
    }
.dash_para3aa{
    font-size: 1vw;
    color: #9f68d2;
}
}
.dash_button3aaa:hover{
    background-color: #ebe7e7;
    border-radius: 10px;
    #budgetsaaa{
    font-size: 1.3vw;
    color: #9f68d2;
    }
.dash_para3aaa{
    font-size: 1vw;
    color: #9f68d2;
}
}
.dash_button3b:hover{
    background-color: #ebe7e7;
    border-radius: 10px;
    #budgetsb{
    font-size: 1.3vw;
    color: #9f68d2;
    }
.dash_para3b{
    font-size: 1vw;
    color: #9f68d2;
}
}
.dash_button3bb:hover{
    background-color: #ebe7e7;
    border-radius: 10px;
    #budgetsbb{
    font-size: 1.3vw;
    color: #9f68d2;
    }
.dash_para3bb{
    font-size: 1vw;
    color: #9f68d2;
}
}
.dash_button3bbb:hover{
    background-color: #ebe7e7;
    border-radius: 10px;
    #budgetsbbb{
    font-size: 1.3vw;
    color: #9f68d2;
    }
.dash_para3bbb{
    font-size: 1vw;
    color: #9f68d2;
}
}
.dash_button3c:hover{
    background-color: #ebe7e7;
    border-radius: 10px;
    #budgetsc{
    font-size: 1.3vw;
    color: #9f68d2;
    }
.dash_para3c{
    font-size: 1vw;
    color: #9f68d2;
}
}